.App {
  text-align: center;

}

html {
  background: url("second.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

img {
  margin-top: 11%;
  height: 25%;
  width: 25%;
}
