#eventImg{
    position: relative;
    width: 350px;
    height: 350px;
    right: 35%;
    margin-bottom: 5%;

}

#eventHeader{
    font-size: xxx-large;
    font-family: "Cooper Black";
    color: white;
}

#eventText{
    font-size: x-large;
    font-family: "Cooper Black";
    color: white;
}



#eventData {
    background-color: #252525;
}