html{
  scroll-behavior: smooth;
}
body{
  background-image: url("../assets/background.jpg");
  background-attachment: fixed;
  background-size: cover;
}


*{
  box-sizing: border-box;
}
html{
  height: 100%;
}
body {
  margin: 0;
  /*background-color: #fefaec;*/
  color: #212832;
  height: 100%;
}
body.dark{
  background-color: #2a2826;
  color: #a99d9d;
}
#submit-btn{
  /*margin-left: 20%;*/
  background: -webkit-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
  background: -o-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
  background: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
  border: none;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 241px;
  height: 58px;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
/*.nav{*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  align-items: stretch;*/
/*  gap: 2rem;*/
/*  padding: 0 1rem;*/
/*  font-weight: bold;*/
/*  font-size: 100%;*/
/*}*/
/*.nav ul{*/
/*  padding: 0;*/
/*  margin-top: 0;*/
/*  list-style: none;*/
/*  display: flex;*/
/*  gap: 1rem;*/
/*}*/

/*.nav a{*/
/*  color: inherit;*/
/*  text-decoration: none;*/
/*  height: 100%;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  padding: .25rem;*/
/*}*/
.welcome-page{
  height: 100vh;
  background-color: #2a2826;
}
/*.welcome-page-gif-section{*/
/*  background: url("../assets/second.gif") no-repeat center center fixed;*/
/*  -webkit-background-size: cover;*/
/*  -moz-background-size: cover;*/
/*  -o-background-size: cover;*/
/*  background-size: cover;*/
/*}*/
.welcome-page-logo{
  margin-top: 11%;
  height: 25%;
  width: 25%;
}
/*img {*/
/*  height: 100%;*/
/*  width: 100%;*/
/*}*/
/*.loginButton{*/
/*  font-size: 100%;*/
/*  font-weight: bold;*/
/*  background-color: #fefaec;*/
/*  color: #212832;*/
/*  border-radius: 5px;*/
/*  cursor: pointer;*/
/*  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
/*}*/
/*.signUpButton{*/
/*  font-size: 100%;*/
/*  font-weight: bold;*/
/*  border:none;*/
/*  cursor: pointer;*/
/*  background-color: #fefaec;*/
/*}*/
/*.site-logo{*/
/*  margin-top: 0;*/
/*  padding: 0;*/
/*}*/
/*.toggle-button{*/
/*  position: absolute;*/
/*  margin-top:3%;*/
/*  top: .75rem;*/
/*  right: 1rem;*/
/*  display: none;*/
/*  flex-direction: column;*/
/*  justify-content: space-between;*/
/*  width: 30px;*/
/*  height: 21px;*/
/*  cursor: pointer;*/
/*}*/
/*.toggle-button .bar{*/
/*  height: 3px;*/
/*  width: 100%;*/
/*  background-color: #050505;*/
/*  border-radius: 10px;*/
/*}*/

/*@media(max-width: 600px){*/
/*  .toggle-button{*/
/*    display: flex;*/
/*  }*/
/*  .navbar{*/
/*    flex-direction: column;*/
/*    align-items: flex-start;*/
/*  }*/

/*  .nav ul{*/
/*    width: 100%;*/
/*    flex-direction: column;*/
/*  }*/
/*  .nav li a{*/
/*    text-align: center;*/
/*  }*/
/*}*/
.event-tile{
  width: 250px;
  height: 400px;
  background-color: white;
  display: inline-block;
  margin: 20px;
  border-radius: 25px;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
}
.information-bar{
  background-color: cornflowerblue;
  width: 250px;
  height: 65px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
h6{
  margin: 0;
  color: white;
}
h3{
  margin-top: 10px;
  color: white;
}


.location-info{
  border-right: solid rgba(255, 255, 255, 0.95) 1px;
  width: 80px;
  height: 65px;
  float: left;
  text-align: center;
  font-weight: bold;
  justify-content: center;
}
.price-info{
  display: flex;
  width: 80px;
  height: 65px;
  float: left;
  text-align: center;
  font-weight: bold;
  justify-content: center;
}
.rating-info{
  display: flex;
  border-left: solid rgb(255, 255, 255) 1px;
  width: 80px;
  height: 65px;
  float: left;
  text-align: center;
  font-weight: bold;
  justify-content: center;
}

.event-tile:hover,
.event-tile:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
}
/*.event-photo-tile{*/
/*  width: 250px;*/
/*  height: 170px;*/
/*  background: url("assets/event.png") ;*/
/*  border-top-left-radius: 25px;*/
/*  border-top-right-radius: 25px;*/
/*}*/
/*.event-rating-tile{*/
/*  width: 40px;*/
/*  height: 20px;*/
/*  background-color: white;*/
/*  border-radius: 25px;*/
/*  margin: 10px;*/
/*  float: right;*/
/*  font-weight: bold;*/
/*  font-size: 10px;*/
/*}*/
/*.material-symbols-outlined {*/
/*   font-variation-settings:*/
/*           'FILL' 1,*/
/*           'wght' 400,*/
/*           'GRAD' 0,*/
/*           'opsz' 20*/
/* }*/
/*.location-symbol{*/
/*  color: rgba(220, 96, 96, 0.89);*/
/*  float: left;*/
/*  display: flex;*/
/*}*/
/*.location-text{*/
/*  display: flex;*/
/*  margin-top: 5px;*/
/*}*/
/*.star{*/
/*  color: #FFD700;*/
/*  font-size: 12px;*/
/*  float: left;*/
/*  height: 20px;*/
/*  width: 15px;*/
/*  border-radius: 10px;*/
/*  vertical-align: center;*/
/*}*/
/*.event-location-tile{*/
/*  float: left;*/
/*  text-align: center;*/
/*  font-size: 15px;*/
/*  !*margin: 10px;*!*/
/*  margin: auto;*/
/*}*/
/*.rating{*/
/*  display: inline-block;*/
/*  margin-bottom: 5px;*/
/*  font-size: 12px;*/
/*}*/
.event-name-tile{
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
h4{
  font-weight: normal;
  padding: 5px;
}
/*.container-left {*/
/*  float: left;*/
/*  width: 50%;*/
/*  max-height: 100vh;*/
/*}*/
/*.container-right {*/
/*  float: right;*/
/*  width: 50%;*/
/*  max-height: 100vh;*/
/*  background: #332B2B;*/

/*}*/
/*.text-left {*/
/*  text-align: left;*/
/*}*/
.active-button{
  background-color: white;
  border-radius: 5px;
  border: white;
  color: cornflowerblue;
  font-weight: bold;
  height: 40px;
  margin: 10px;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
  cursor: pointer;

}
.disabled-button{
  background-color: rgba(255,255,255,0);
  border: none;
  font-weight: bold;
  color: grey;
  margin: 10px;
  cursor: pointer;
}
.recommended-events-buttons{
  display: block;
}


.title {
  position: absolute;
  width: 279px;
  height: 92px;
  left: 126px;
  top: 210px;
  margin: 10px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
}
.add-event-page {
  box-sizing: border-box;

  position: relative;
  height: 100%;
  width: 100%;


  background: #FFFCF8;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/*.input {*/
/*  box-sizing: border-box;*/

/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: flex-start;*/
/*  padding: 12px 28px;*/
/*  gap: 10px;*/

/*  position: relative;*/
/*  width: 486.13px;*/
/*  height: 44px;*/
/*  left: 192.23px;*/
/*  top: 100px;*/

/*  background: #E9E9E9;*/
/*  border: 1px solid #000000;*/
/*  border-radius: 5px;*/
/*}*/
.big-input {
  /*box-sizing: border-box;*/

  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items: flex-start;*/
  padding: 12px 28px;
  /*gap: 10px;*/

  /*position: relative;*/
  width: 80%;
  height: 140px;
  resize: none;
  /*left: 192.23px;*/
  /*top: 100px;*/

  /*background: #E9E9E9;*/
  /*border: 1px solid #000000;*/
  /*border-radius: 5px;*/
}
.btn {
  /*box-sizing: border-box;*/

  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items: flex-start;*/
  /*padding: 12px 26px 12px 28px;*/
  /*gap: 10px;*/

  /*position: absolute;*/
  /*width: 120px;*/
  /*height: 44px;*/
  /*left: 560px;*/
  /*top: 750px;*/

  /*background: linear-gradient(92.51deg, #F0F0F0 0.48%, #C2C2C2 99.99%, #8054FF 100%);*/
  /*border: 1px solid #000000;*/
  /*border-radius: 5px;*/
}





.react-calendar {
  width: 800px;
  max-width: 100%;
  background: white;
  border-radius: 25px;
  border: solid black 3px;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin: auto auto 5%;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  width: 90px;
  font-weight: bold;
  font-size: 20px;
  font-variant: small-caps;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
  border: grey 1px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
.react-calendar__navigation__prev2-button{
  display: none;
}
.react-calendar__navigation__next2-button{
  display: none;
}
.react-calendar__month-view__days__day{
  border: solid black 1px;
}
.subscribe-panel{
  width: 800px;
  height: 250px;
  background: rgba(170, 154, 194, 0.56);
  margin: auto;
  border-radius: 80px 80px 20px 20px;
  text-align: center;

}
.letter-icon{
  background: linear-gradient(201.65deg, #747DEF 10.27%, #5E3BE1 100%);
  width: 50px;
  height: 50px;
  float:right;
  border-radius: 40px;

}
 .material-symbols-rounded {
   font-variation-settings: 'FILL' 1,
   'wght' 400,
   'GRAD' 0,
   'opsz' 48
 }

/*.send-icon{*/
/*  transform: rotate(-30deg);*/
/*  color: white;*/
/*  margin-left: 5%;*/
/*  margin-top: 20%;*/
/*}*/

/*.subscription-text{*/
/*  justify-content: center;*/
/*  font-style: normal;*/
/*  font-weight: 600;*/
/*  font-size: 26px;*/
/*  line-height: 54px;*/
/*  padding-top: 9%;*/
/*  text-align: center;*/
/*  color: #ffffff;*/

/*}*/
/*#emails{*/
/*  border-radius: 10px;*/
/*  border: none;*/
/*  height: 35px;*/
/*  padding: 10px;*/
/*  margin: 1%;*/
/*}*/
/*.submit-email{*/
/*  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);*/
/*  border-radius: 10px;*/
/*  height:35px;*/
/*  font-weight: bold;*/
/*  border: none;*/
/*  color: white;*/
/*  width: 70px;*/
/*  cursor: pointer;*/
/*}*/
.dark-mode{
  margin-top: 220%;
  border-radius: 50px;
  border: none;
  color: grey;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/*.footer-logo{*/
/*  height: 300px;*/
/*  width: 300px;*/
/*  margin-left: 13%;*/
/*}*/
/*#navbar-logo{*/
/*  width: 200px;*/
/*  height: 200px;*/
/*  float: left;*/
/*}*/
/*.app-description{*/
/*  width: 250px;*/
/*  float: left;*/
/*  margin-top: -20%;*/
/*  margin-left: 7%;*/
/*  margin-right: 7%;*/
/*  font-weight: 400;*/
/*  font-size: 14px;*/
/*  line-height: 24px;*/
/*  color: #ffffff;*/
/*}*/
/*.social-media-logos{*/
/*  width: 200px;*/
/*  height: 100px;*/
/*  margin-left: 20%;*/
/*}*/
/*.social-logo{*/
/*  float: left;*/
/*  padding: 15px;*/
/*  font-size: 25px;*/
/*}*/

/*.footer-events{*/
/*  float: left;*/
/*  margin-top: -10%;*/
/*  margin-left: 30%;*/
/*  font-weight: 600;*/
/*  font-size: 18px;*/
/*  line-height: 22px;*/
/*  text-transform: capitalize;*/
/*  color: #ffffff;*/
/*}*/
/*.footer-events a{*/
/*  color: white;*/
/*}*/
/*.footer-events ul{*/
/*  list-style: none;*/
/*  text-align: left;*/
/*  font-weight: 400;*/
/*  font-size: 14px;*/
/*  line-height: 18px;*/
/*}*/
/*.footer-events ul li{*/
/*  padding: 5px;*/
/*}*/
/*#name{*/
/*  margin-top: 20%;*/
/*}*/
/*.footer-user{*/
/*  float: left;*/
/*  margin-top: -10%;*/
/*  margin-left: 40%;*/
/*  font-weight: 600;*/
/*  font-size: 18px;*/
/*  line-height: 22px;*/
/*  text-transform: capitalize;*/
/*  color: #ffffff;*/
/*}*/
/*.footer-user a{*/
/*  color: white;*/
/*}*/
/*.footer-user ul{*/
/*  list-style: none;*/
/*  text-align: left;*/
/*  font-weight: 400;*/
/*  font-size: 14px;*/
/*  line-height: 18px;*/
/*}*/
/*.footer-user ul li{*/
/*  padding: 5px;*/
/*}*/
/*.footer-contact{*/
/*  float: left;*/
/*  margin-top: -10%;*/
/*  margin-left: 50%;*/
/*  font-weight: 600;*/
/*  font-size: 18px;*/
/*  line-height: 22px;*/
/*  text-transform: capitalize;*/
/*  color: #ffffff;*/
/*}*/
/*.footer-contact ul{*/
/*  list-style: none;*/
/*  text-align: left;*/
/*  font-weight: 400;*/
/*  font-size: 14px;*/
/*  line-height: 18px;*/
/*}*/
/*.footer-contact ul li{*/
/*  padding: 5px;*/
/*}*/
#sort-by{
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  color: #006edc;
  text-align: center;
  height: 30px;
  border: none;
  margin: 10px;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);
}
#asc{
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  color: #006edc;
  text-align: center;
  height: 30px;
  border: none;
  margin: 10px;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.1);

}
#search{
  background-color: #3E86F5;
  color: white;
  border-radius: 5px;
  text-align: center;
  height: 30px;
  font-size: 15px;
}
#search::placeholder{
  color: white;
}
a{
  text-decoration: none;
  color: #050505;
}
#menuId {
  background-color: rgba(33, 138, 25, 0.23);
  height: 500px;
  border-radius: 25px;
}

#menuId a{
  color: inherit;
  text-decoration: none;
}
#login-heading{
  float: left;
  height: 200px;
  width: 30%;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  padding-top: 10%;
}
/*#name{*/
/*  width: 350px;*/
/*  height: 44px;*/
/*  left: 25%;*/
/*  top: 28%;*/

/*  background: #E9E9E9;*/
/*  border: 1px solid #000000;*/
/*  border-radius: 5px;*/
/*  padding: 5px;*/
/*}*/
#password{
  width: 350px;
  height: 44px;
  left: 25%;
  top: 28%;
  padding: 5px;
  background: #E9E9E9;
  border: 1px solid #000000;
  border-radius: 5px;
}
.form-group{
  padding: 10px;
}
#login-submit{
  justify-content: center;
  position: absolute;
  width: 120px;
  height: 44px;
  left: 29%;
  background: linear-gradient(92.51deg, #F0F0F0 0.48%, #C2C2C2 99.99%, #8054FF 100%);
  border: 1px solid #000000;
  border-radius: 5px;
}
.forgot-password-form{
  padding-top: 20%;
}

button:hover,
button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.25em);
}


ul li:hover,
ul li:focus {
  transform: translateY(-0.25em);
}
.social-logo:hover,
.social-logo:focus {
  transform: translateY(-0.25em);
}
.calendar-tile {
  height: 700px;
  width: 1000px;
  margin: auto auto 10%;
}
.rbc-calendar .rbc-toolbar .rbc-toolbar-label{
  text-align: left;
  font-weight: bold;
}

.swiper {
  width: 80%;
  height: 100%;
  justify-content: center;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 80%;
  height: 100%;
}
#hah{
  color: white;
}
#event-name{
  color: white;
}
.add-event-form{
  background-color: #ffffff;
  height: 1450px;
  width: 800px;
  margin-top: 10%;
  margin-left: 30%;
  border-radius: 125px;
  text-align: center;
  float: left;
}
.add-event-form h1{
  top:10%;
  padding: 5%;
}
.add-event-form #name,#startDate,#endDate,#location,#link,#eventType,#publicEvent,#price,textarea,#logo{
  font-size: 16px;
  font-weight: normal;
  background: rgba(57, 57, 57, 0.07);
  margin: 12.5px 0;
  height: 68px;
  border: none;
  padding: 0 30px;
  border-radius: 10px;
  width: 80%;
}
#startDate, #endDate,#link,#price{
  width: 38%;
}
#startDate, #price{
  margin-right: 4%;
}

.suggestion-options li {
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  background: rgba(57, 57, 57, 0.07);
  height: 40px;
  border: none;
  padding: 0 30px;
  border-radius: 10px;
  width: 40%;
  margin: 1% auto auto;
  line-height: 2.5;
}

.event-tile-preview{
  /*display: flex;*/
  float: left;
  margin-top: 20%;
  margin-left: 10%;
  display: none;
}

#wroclawButton, #globalButton{
  background-color: rgba(249, 249, 249, 0);
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.uploadImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}


.event-table {
  margin: auto;
}

.event-list-form {

}

.list-header {
  padding-top: 100px;
  color: ghostwhite;
}

