/*#eventImg{*/
/*    position: relative;*/
/*    width: 350px;*/
/*    height: 350px;*/
/*    right: 35%;*/
/*    margin-bottom: 5%;*/

/*}*/

/*#eventHeader{*/
/*    font-size: xxx-large;*/
/*    font-family: "Cooper Black";*/
/*    color: white;*/
/*}*/

/*#eventText{*/
/*    font-size: x-large;*/
/*    font-family: "Cooper Black";*/
/*    color: white;*/
/*}*/



/*#eventData {*/
/*    background-color: #252525;*/
/*}*/

#event-page{
    /* Event */

    position: relative;
    width: 1920px;
    height: 1080px;


    /*background: #FFFCF8;*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#logo {
    position: absolute;
    width: 290px;
    height: 245px;
    left: 0px;
    top: -18px;
}

#frame19{
    /* Frame 19 */
    position: absolute;
    width: 1440px;
    height: 1015px;
    left: 323px;
    top: -40px;

}
#top-nav{
    position: absolute;
    width: 892px;
    height: 75px;
    left: 60px;
    top: 75px;

}

#nav-home {

    position: absolute;
    width: 80px;
    height: 36px;
    left: 243px;
    top: 123px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    text-align: right;

    /* 1st */
    color: #212832;
}

#nav-home a, #nav-events a, #nav-community a, #nav-about-us a, #nav-login a, #nav-sign-up a{
    text-decoration: none;
    color: inherit;
}

#nav-events {
    /* Nav Item */

    position: absolute;
    width: 88px;
    height: 36px;
    left: 373px;
    top: 123px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    text-align: right;
    /* 1st */
    color: #212832;
}

#nav-community {
    /* Nav Item */

    position: absolute;
    width: 153px;
    height: 36px;
    left: 499px;
    top: 123px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    text-align: right;

    /* 1st */
    color: #212832;
}
#nav-about-us{
    /* Nav Item */

    position: absolute;
    width: 119px;
    height: 36px;
    left: 692px;
    top: 123px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    text-align: right;

    /* 1st */
    color: #212832;
}
#nav-login {
    /* Nav Item */

    position: absolute;
    width: 71px;
    height: 72px;
    left: 895px;
    top: 126px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: right;

    /* 1st */
    color: #212832;
}
#nav-sign-up {
    /* Sign up */

    position: absolute;
    width: 97px;
    height: 36px;
    left: 1038px;
    top: 123px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */
    text-align: right;

    /* 1st */
    color: #212832;
}
#switch-mode{
    /* Dark Switch */

    position: absolute;
    width: 40px;
    height: 40px;
    left: 1162px;
    top: 122px;

    /* Neutral/N40
    Border on White
    */
    background: #ECECED;
    border-radius: 20px;

}

#event-name{
    /* Event name */
    position: absolute;
    width: 598px;
    height: 146px;
    left: 310px;
    top: 261px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 80px;
    /* or 167% */
    text-align: center;
}
#event-description{
    position: absolute;
    width: 809px;
    height: 134px;
    left: 237px;
    top: 406px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
}

#destination{
    position: absolute;
    width: 381px;
    height: 653px;
    left: 47px;
    top: 206px;
}

#rectangle-14{
    position: absolute;
    width: 381px;
    height: 531px;
    left: 47px;
    top: 206px;

    filter: drop-shadow(0px 90.2388px 72.191px rgba(0, 0, 0, 0.02)) drop-shadow(0px 58.4881px 42.2785px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 34.7586px 22.9942px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 18.0478px 11.731px rgba(0, 0, 0, 0.01)) drop-shadow(0px 7.35279px 5.88223px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.67109px 2.84085px rgba(0, 0, 0, 0.00481481));
    border-radius: 21.6573px;

}
#card-2{
    position: absolute;
    width: 381px;
    height: 141px;
    left: 47px;
    top: 718px;

}
#rectangle-15{
    box-sizing: border-box;

    position: absolute;
    width: 270px;
    height: 100px;
    left: 47px;
    top: -105px;

    background: #FBFBFB;
    border: 1px solid #000000;
    border-radius: 0px 0px 21.6573px 21.6573px;

}