.wrapper{
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    margin-top: 15%;
    margin-left: auto;
    /*transform: translate(-50%,-50%);*/
    width: 90%;
    display: flex;
    color: #353c4e;
}

.wrapper .left{
    width: 25%;
    height: 20%;
    background: white;
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #050505;
    font-size: 24px;
}

.wrapper .left img{
    border-radius: 5px;
    margin-bottom: 10px;
}

.wrapper .left h4{
    margin-bottom: 10px;
}

.wrapper .left p{
    font-size: 12px;
}

.wrapper .right{
    width: 65%;
    background: rgba(255, 255, 255, 0.75);
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects{
    margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.wrapper .right .info_data{
    display: flex;
    justify-content: space-between;
}


.wrapper .right .projects_data{
    /*display: flex;*/
    justify-content: space-between;
}

.wrapper .right .info_data .data{
    width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
    font-size: 15px;
    margin-bottom: 10px;
    color: #050505;
    padding: 5px;
}

.wrapper .social_media ul{
    margin-left: 30%;
    display: flex;

}

.wrapper .social_media ul li{
    width: 45px;
    height: 45px;
    background: linear-gradient(to right,#01a9ac,#01dbdf);
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 45px;
}

.wrapper .social_media ul li a{
    color :#fff;
    display: block;
    font-size: 18px;
}
.wrapper .right .projects_data .data .event-data{
    display: flex;
}



.serv ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.serv ul li {
    list-style: none;
    flex: 0 0 33.333333%;
}

.wrapper .right .projects_data .data {
    display: inline-block;
    margin: 3%;
}

.edit-button {
    display: inline-block;
}
.information{
    width: 200px;
    display: inline;
    margin-right: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;

}
.active{
    background-color: rgb(255, 255, 255);
    border: none;
}
.name{
    height: auto;
}

.verify-icon {
    width: 5%;
    float: right;
}