img {
    border: none;
}

*:focus {
    outline: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.bg-illustration {
    position: relative;
    height: 100vh;
    width: 1194px;
    background: url("../assets/login-image.jpg") no-repeat center center scroll;
    background-size: cover;
    float: left;
    -webkit-animation: bgslide 2.3s forwards;
    animation: bgslide 2.3s forwards;
}
.bg-illustration img {
    width: 248px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: auto;
    margin: 19px 0 0 25px;
}

@-webkit-keyframes bgslide {
    from {
        left: -100%;
        width: 0;
        opacity: 0;
    }
    to {
        left: 0;
        width: 1194px;
        opacity: 1;
    }
}

@keyframes bgslide {
    from {
        left: -100%;
        width: 0;
        opacity: 0;
    }
    to {
        left: 0;
        width: 1194px;
        opacity: 1;
    }
}


.login {
    max-height: 100vh;
    overflow-Y: auto;
    float: left;
    margin: 0 auto;
    width: calc(100% - 1194px);
    background-color: #ffffff;
    height: 100vh;
}
.login .container {
    width: 505px;
    margin: 0 auto;
    position: relative;
}
.login .container h1 {
    margin-top: 100px;
    font-size: 35px;
    font-weight: bolder;
}
.login .container .login-form {
    margin-top: 112px;
}
.login .container .login-form form {
    display: -ms-grid;
    display: grid;
}
.login .container .login-form form input {
    font-size: 16px;
    font-weight: normal;
    background: rgba(57, 57, 57, 0.07);
    margin: 12.5px 0;
    height: 68px;
    border: none;
    padding: 0 30px;
    border-radius: 10px;
}
.login .container .login-form form button[type=submit] {
    background: -webkit-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
    background: -o-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
    background: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
    border: none;
    margin-top: 124px;
    margin-bottom: 20px;
    width: 241px;
    height: 58px;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.login .container .login-form form button[type=submit]:hover::after {
    opacity: 1;
}
.login .container .login-form form button[type=submit]::after {
    content: "";
    position: absolute;
    z-index: -1;
    border-radius: 10px;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    right: 0;
    bottom: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(#09203f), to(#537895));
    background: -webkit-linear-gradient(bottom, #09203f 0%, #537895 100%);
    background: -o-linear-gradient(bottom, #09203f 0%, #537895 100%);
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
}
.login .container .remember-form {
    position: relative;
    margin-top: -30px;
}
.login .container .remember-form input[type=checkbox] {
    margin-top: 9px;
}
.login .container .remember-form span {
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    top: 32px;
    color: #3B3B3B;
    margin-left: 15px;
}
.login .container .forget-pass {
    position: absolute;
    right: 0;
    margin-top: 189px;
}
.login .container .forget-pass a {
    font-size: 16px;
    position: relative;
    font-weight: normal;
    color: #918F8F;
}
.login .container .forget-pass a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 100px;
    background: -webkit-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
    background: -o-linear-gradient(110deg, #f794a4 0%, #fdd6bd 100%);
    background: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
    bottom: -4px;
    left: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    right: 0;
}
.login .container .forget-pass a:hover::after {
    opacity: 1;
}
.error{
    color: red;
    font-weight: bold;
    margin: auto;
}

#pass-info {
    /*position: absolute;*/
    display: none;
    /*top: 53%;*/
    /*left: 40%;*/
    margin: 0;
}

#email-info {
    /*position: absolute;*/
    display: none;
    /*top: 43%;*/
    /*left: 45%;*/
    margin: 0;
}

#confirm-pass-info {
    /*position: absolute;*/
    display: none;
    /*top: 63%;*/
    /*left: 40%;*/
    margin: 0;
}
form p{
    height: auto;
}
